/* body{
    
} */
.trackbox{
    background-color: rgb(191, 235, 241);
    transition: 0.3s;
    /* display: flex; */
    border: black;
    border-width: 3px;
    border-style: solid;
    padding: 2%;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 88%;
    position: relative;
}
#addbutton{
    border: black;
    border-width: 3px;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}
#addbutton:hover{
    background-color: rgb(151, 206, 206);
}
#addtracker{
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.x{
    position: absolute;
    top: 0;
    right: 0;
}
/* .add{
    display: inline-block;
    background-color: red;
    width: 50%;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
.QueueSelect{
    width: 150px;
}

.inactive{
    /* -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
    color: grey;
    background-color: lightgray;
    /* visibility: hidden; */
    /* display: none; */
}

.loading {
    position: absolute;
    top: 15;
    right: 30;
    border: 5px solid #f3f3f3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    margin: auto;
    visibility: hidden;
    animation: spin 0.5s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
